<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Administrador.Properties.Settings.DBCinecatrachoConnectionStringsala"
            connectionString="Data Source=DBCinecatracho.mssql.somee.com;Initial Catalog=DBCinecatracho;User ID=cesarsauceda_SQLLogin_1;Password=nl65ssuu4h"
            providerName="System.Data.SqlClient" />
        <add name="Administrador.Properties.Settings.ConnectionString"
            connectionString="Data Source=DBCinecatracho.mssql.somee.com;Persist Security Info=True;User ID=cesarsauceda_SQLLogin_1;Password=nl65ssuu4h"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>